:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.devby{
  color: #00ffff;
}

.p-ini{
  color: #00ffff;
  font-weight:700 ;
}

a {
  font-weight: 700;
  color: #fff;
  text-decoration: inherit;
  font-family: sans-serif;
}
a:hover {
  color: #00ffff;
}

.r-temporal{
  font-weight: 700;
  border: 2px solid #00ffff;
}

.r-temporal:hover{
  background-color: #00ffff;
  color: #2e2c2c;
}

.r-completo{
  font-weight: 700;
  border: 2px solid #00ffff;
}

.r-completo:hover{
  background-color: #00ffff;
  color: #2e2c2c;
}

.p-r-completo{
  font-weight: 100;
}

.p-r-temporal{
  font-weight: 100;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #00ffff;
}

.titulo-inicio{
  color: #fff;
  font-weight: 700;
  padding: 5px
}

div .titulo-inicio{
  background-color: #1a1a1a;
  border: 2px solid #00ffff;
  border-radius: 10px;
  display: grid;
}

div .titulo-inicio:hover{
  background-color: #00ffff;
  color: #1a1a1a;
}

div .p-inicio-d{
  display: grid;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
